<script src="/conversations-tool/js/create-topic.js"></script>
<script src="/conversations-tool/js/topic-listing.js"></script>

<div class="vue-enabled">
  <create-topic-wrapper baseurl="{{baseURL}}"></create-topic-wrapper>
  <topic-listing baseurl="{{baseURL}}" initial_order_by="{{order_by}}" initial_order_direction="{{order_direction}}"></topic-listing>
</div>