<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{{skinRepo}}}/tool_base.css" />
        <link rel="stylesheet" type="text/css" href="/conversations-tool/css/conversations.css" />

        {{{randomSakaiHeadStuff}}}
    </head>
    <body>

        <div class="portletBody conversations-body">
            {{{subpage this "body"}}}
        </div>
    </body>
</html>