.drive-body .google-drive {
    max-width: 1200px;
}

.drive-body .scroll-container {
    max-height: 600px;
    overflow-y: auto;
}

.drive-body .file-list {
    list-style: none;
}

.drive-body .search-bar {
    text-align: right;
}

.drive-body .list-overlay {
    display: none;
    z-index: 50;
    background-color: #333;
    opacity: 0.6;
}

.drive-body .form-buttons {
    background-color: #efefef;
    margin-top: 20px;
}


.drive-file:before,
.drive-folder:before {
  font-family: 'FontAwesome';
  content: '\f128';
  color: #777;
  width: 20px;
  display: inline-block;
}
.drive-folder:before {
  content: '\f07b';
}
.drive-file.text:before,
.drive-file.content:before {
  content: '\f0f6';
}
.drive-file.image:before,
.drive-file.photoshop:before {
  content: '\f1c5';
}
.drive-file.citation:before {
  content: '\f03a';
}
.drive-file.pdf:before {
  content: '\f1c1';
}
.drive-file.compressed:before {
  content: '\f1c6';
}
.drive-file.excel:before {
  content: '\f1c3';
}
.drive-file.word:before {
  content: '\f1c2';
}
.drive-file.ppt:before {
  content: '\f1c4';
}
.drive-file.video:before {
  content: '\f1c8';
}
.drive-file.generic:before,
.drive-file.binary:before {
  content: '\f016';
}
.drive-file.html:before,
.drive-file.code:before {
  content: '\f1c9';
}
.drive-file.audio:before,
.drive-file.real:before {
  content: '\f1c7';
}
.drive-file.broken:before {
  content: '\f016';
}
.drive-file.java:before {
  content: '\f1c9';
}
.drive-file.binhex:before {
  content: '\f016';
}
.drive-file.access:before {
  content: '\f1c0';
}
.drive-file.postscript:before {
  content: '\f1c1';
}
.drive-file.shockwave:before {
  content: '\f0e7';
}
.drive-file.application:before {
  content: '\f016';
}
.drive-file.application_form:before {
  content: '\f298';
}
.drive-file.drive:before {
  content: '\f1a0';
}
.drive-file.url:before {
  content: '\f08e';
}

body.sakai-drive-preview-open {
  overflow: hidden;
}

#sakai-drive-preview {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

#sakai-drive-preview .blockout {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10001;
}
#sakai-drive-preview iframe {
  width: 90%;
  margin: auto 5%;
  z-index: 10002;
  position: absolute;
  border: none;
  box-shadow: 1px 1px 10px #000;
}

#sakai-drive-preview .close {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  z-index: 10003;
  padding: 1.5%;
  text-decoration: none;
  opacity: 0.7;
}
#sakai-drive-preview .close:before {
  font-family: 'FontAwesome';
  content: '\f00d';
}

.sakai-resources-breadcrumbs.breadcrumb,
.sakai-resources-toolbar {
  margin-bottom: 10px;
}

.sakai-resources-toolbar .btn {
  margin-right: 5px !important;
}

.sakai-resources-table .last-modified {
  white-space: nowrap;
}

.sakai-resources-table tr td {
  transition: background-color 0.2s;
}

.sakai-resources-table tr.active td {
  transition: background-color 0.2s;

  background-color: #347EB2 !important;
  color: white;
}
.sakai-resources-table tr.active td.name > div:before,
.sakai-resources-table tr.active td.name a {
  color: white;
}

.sakai-resource-dropzone.sakai-resource-dropzone-active {
  outline: 2px solid #347EB2;
}
.sakai-resource-drag-helper {
    background-color: #347EB2;
    padding: 8px;
}
.sakai-resource-drag-helper,
.sakai-resource-drag-helper a,
.sakai-resource-drag-helper div:before {
    color: white !important;
}
