<div class="profile-drawer nyu">
    <div class="profile-drawer-header">
        <a class="close" title="Close the Profile Drawer"><span class="fa-inverse fa fa-times"></span></a>
        <div class="profile-drawer-pretty-background"></div>
        <div class="profile-drawer-picture">
            <span style="background-image:url(${pictureUrl})"></span>
        </div>
        <div class="profile-drawer-details">
            <div class="profile-drawer-name">${displayName}</div>
            <div class="profile-connection-actions">
                #if (${unconnected})
                    <button class="profile-connect-button" data-currentUserId="${currentUserId}" data-connectionUserId="${connectionUserId}">
                        Connect
                    </button>
                #elseif (${incoming})
                    <button class="profile-accept-button" data-currentUserId="${currentUserId}" data-connectionUserId="${connectionUserId}">
                        Accept Connection
                    </button>
                    <button class="profile-ignore-button" data-currentUserId="${currentUserId}" data-connectionUserId="${connectionUserId}">
                        Ignore
                    </button>
                #elseif (${requested})
                    Awaiting Reply
                #elseif (${connected})
                    <button class="profile-remove-connection-button" data-currentUserId="${currentUserId}" data-connectionUserId="${connectionUserId}">
                        Remove Connection
                    </button>
                #end
            </div>
        </div>
    </div>
    <div class="profile-drawer-content">
        <p>Stuff goes in here!</p>
    </div>
</div>
