<h1>Hello</h1>

<p>Here are your files:</p>

<form method="POST" action="{{baseURL}}add-selected">
  <ul id="drive">
  </ul>
  <input type="submit" value="Add to resources" />
</form>

<script id="fileTemplate" type="text/template">
  <li><label><input type="checkbox" name="fileid[]" value="${id}"> <img src="${iconLink}" /> <a href="${viewLink}">${name}</a></label></li>
</script>

<script>includeLatestJQuery('index.hbs');</script>
<script>
function Drive() {
  this.baseURL = "{{baseURL}}";

  this.getFiles(null, null);
};

Drive.prototype.getFiles = function(query, pageToken) {
  var fileTemplate = TrimPath.parseTemplate($("#fileTemplate").html().trim().toString());

  $.getJSON(this.baseURL + "/drive-data", function(json) {
    $.each(json, function(index, file) {
      var html = fileTemplate.process(file);
      $("#drive").append(html);
    });
  });
};

$(document).ready(function() {
  new Drive();
});
</script>
