<script>includeLatestJQuery('index.hbs');</script>
<script src="/drive-tool/scripts/drive.js"></script>
<script id="previewTemplate" type="text/template">
    <div id='sakai-drive-preview'>
      <div class='blockout'></div>
      <a class='close' href="#!"></a>
      <iframe></iframe>
    </div>
</script>
<script id="contextMenuTemplate" type="text/template">
    <ul class="sakai-drive-context-menu dropdown-menu" role="menu">
      {if isFolder}
        <li><a href="#" class="sakai-drive-context-menu-open">Open Folder</a></li>
      {else}
        <li><a href="#" class="sakai-drive-context-menu-open">Preview</a></li>
      {/if}
      <li class="divider"></li>
      <li><a href="#" class="sakai-drive-context-menu-edit">Edit Item Details</a></li>
    </ul>
</script>
<script id="treeFolderTemplate" type="text/template">
      <li>
        <div class="drive-folder">
          <a class="drive-folder-toggle" href="javascript:void(0)" title="Expand/Collapse Folder"></a>
          <a data-path="${id}" href="{{baseURL}}sakai-resources${id}">${name}</a>
        </div>
      </li>
</script>

{{{subpage this "sakai_resources"}}}
