<div class="google-drive">
  <div class="row">
    <div class="col-sm-12">
      <div style="text-align: right;">
        <form method="POST" action="{{baseURL}}reset-oauth">
          <input type="submit" class="btn btn-danger" value="Relink my Google account" />
        </form>
      </div>

      <div class="search-bar">
        <input class="file-search" type="text" placeholder="Search your drive" value="" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 google-drive-menu">
      <div>
        <ul class="nav">
          <li class="active"><a href="#googledriverecent" data-toggle="tab">Most Recent</a></li>
          <li><a href="#googledrivehome" data-toggle="tab">My Drive</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 google-drive-panel">
      <div class="tab-content">
        <div id="googledriverecent" class="tab-pane active">
          <form class="google-drive-add-selected-form" method="POST" action="{{baseURL}}add-selected">
            <div class="scroll-container">
              <ul class="file-list">
              </ul>
              <div class="no-matches-msg" style="display: none;">No files matched your query</div>
            </div>
          </form>
        </div>
        <div id="googledrivehome" class="tab-pane">
          <ul class="breadcrumb">
            <li class="active"><a href="#" data-id="root">My Drive</a></li>
          </ul>
          <form class="google-drive-add-selected-form" method="POST" action="{{baseURL}}add-selected">
            <div class="scroll-container">
              <ul class="file-list">
              </ul>
              <div class="no-matches-msg" style="display: none;">No files matched your query</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="fileTemplate" type="text/template">
  {if folder}
    <li><img src="${iconLink}" /> <a class="google-drive-folder" href="#" data-id="${id}">${name}</a></li>
  {else}
    <li><label><input type="checkbox" name="fileid[]" value="${id}"> <img src="${iconLink}" /> <a href="${viewLink}">${name}</a></label></li>
  {/if}
</script>
