<script type="text/javascript">includeLatestJQuery('google-drive');</script>
#css("/sakai-content-tool/styles/google-drive.css")

	#if ($itemAlertMessage)
		<div class="alertMessage">$tlang.getString("label.alert") $validator.escapeHtml($itemAlertMessage)</div>
		<div style="display:block;clear:both" ></div>
	#end

<div id="google-drive" class="google-drive">
  <div class="row">
    TODO
  </div>
</div>