{{#unless stealthActive}}
<section class="stealth-section">
  <div class="alert alert-danger">{{{t this "stealth-disabled"}}}</div>
</section>
{{/unless}}

<div class="portletBody unstealth">
  <h2 class="unstealth-header">Add Tool Permissions</h2><br/>

    <form id="grant-permission-form">
	  <h3 class="unstealth-section-head">User/Site Selection</h3>
      <p>
        Add User(s):
    	<select id="select-multiple-netid" name="netid" multiple="multiple" style="width: 200px;"></select>
      </p>
      <p>And/Or</p>
      <p>
        Add Site ID(s)
    	<select id="select-multiple-siteid" name="siteid" multiple="multiple" style="width: 200px;"></select>
      </p>
      <h3 class="unstealth-section-head">Restrict By Term</h3>
  		<p>
        Term Availability
        <select id="select-term" name="term" multiple="multiple" style="width: 200px;"></select>
      </p>
			<h3 class="unstealth-section-head">Tool Selection</h3>
			<p>
        Tool Name
        <select id="select-tool" name="tool" multiple="multiple" style="width: 200px;"></select>
      </p>
		  <button type="submit" class="btn btn-primary">Grant tool Permissions</button>
      <input type="button" value="Cancel">
    </form>

    <br><br>

	<h2 class="unstealth-header">Search Existing Permissions</h2><br/>

    <ul class="navIntraTool actionToolBar">
      <li><span><a href="#" onclick="openTab(event, 'NetID'); return false">Search By User</a></span></li>
      <li><span><a href="#" onclick="openTab(event, 'SiteID'); return false">Search By Site</a></span></li>
    </ul>

		<div id="NetID" class="tabcontent">
	  		</br>Search
	  		<form id="search-netid-form">
	  			<select id="search-table-netid" name="rule-by-netid" placeholder="NetID" style="width: 200px;"></select>
	  			<button type="submit" id="search-permissions-by-netid" class="btn btn-primary">Search</button>
	  		</form>
		</div>

		<div id="SiteID" class="tabcontent">
  			</br>Search
  			<form id="search-siteid-form">
  				<select id="search-table-siteid" name="rule-by-siteid" placeholder="SiteID" style="width: 200px;"></select>
  				<button type="submit" class="btn btn-primary">Search</button>
  			</form>
		</div>
		<table id ="display-results">
			<thead>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
  <div id="modal" class="hidden">
    <table>
      <tr>
        <th>Net id</th>
        <th>Tool</th>
      </tr>
    </table>  
  </div>
