{{#unless stealthActive}}
<section class="stealth-section">
  <div class="alert alert-danger">{{{t this "stealth-disabled"}}}</div>
</section>
{{/unless}}

	<div class="portletBody unstealth">
		<h2 class="unstealth-header">Add Tool Permissions</h2><br/>

		<div>
			<h3 class="unstealth-section-head">User/Site Selection</h3>

			Add User(s)
			<select class="unstealth-multiple-netid" name="NetIDs[]" multiple="multiple">
			</select>
		</br></br>

			And/Or</br></br>

			Add Site ID(s)
			<select class="unstealth-multiple-siteid" name="SiteIDs[]" multiple="multiple">
			</select>
		</div>
		</br>
		<div>
			<h3 class="unstealth-section-head">Restrict By Term</h3>
			Term Availability
			<select id="select-term" name="" style="width: 115px;">
				<option value="Value for Item 1" title="Title for Item 1">Item 1</option>
				<option value="Value for Item 2" title="Title for Item 2">Item 2</option>
				<option value="Value for Item 3" title="Title for Item 3">Item 3</option>
			</select>
		</div>

		<div>
			<h3 class="unstealth-section-head">Tool Selection</h3></br>
			Tool Name
			<select id="select-tool" name="" style="width: 115px;">
			</select>
		</div>
	</br></br>
		<input type="button" value="Grant tool Permissions"> <input type="button" value="Cancel"> </br>
		</br>
		
		<h2 class="unstealth-header">Search Existing Permissions</h2><br/>

		<div class="tab">
			<button class="tablinks" onclick="openTab(event, 'NetID')">Search By NetId</button>
			<button class="tablinks" onclick="openTab(event, 'SiteID')">Search By Site Id</button>
		</div>

		<div id="NetID" class="tabcontent">
	  		</br>Search
	  		<form id="search-netid-form">
	  			<select class="unstealth-multiple-netid" multiple="multiple" name="search-by-netid[]" placeholder="NetID"></select>
	  			<button type="submit" id="search-permissions-by-netid" class="btn btn-primary">Search</button>
	  		</form>
		</div>

		<div id="SiteID" class="tabcontent">
  			</br>Search
  			<form action="/direct/stealth-admin/searchSiteid/" method="post">
  				<select class="unstealth-multiple-siteid" multiple="multiple" name="search-by-siteid[]" placeholder="SiteID"></select>
  				<button type="submit" class="btn btn-primary">Search</button>
  			</form>
		</div>		
		<table id ="display-results">
			<thead>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>