<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{{skinRepo}}}/tool_base.css" />
        <link rel="stylesheet" type="text/css" href="/stealth-tool/stylesheets/stealth.css" />

        {{{randomSakaiHeadStuff}}}
    </head>
    <body>

        <div class="portletBody pasystem-body">

            {{{subpage this subpage}}}
        </div>

        <script type="text/javascript" src="/pasystem-tool/scripts/stealth-tool.js"></script>
    </body>
</html>