<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{{skinRepo}}}/tool_base.css" />
        <link rel="stylesheet" type="text/css" href="/stealth-tool/stylesheets/stealth.css" />
        <link rel="stylesheet" type="text/css" href="/stealth-tool/stylesheets/select2.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

        {{{randomSakaiHeadStuff}}}
    </head>
    <body>

        <div class="portletBody stealth-body">

            {{{subpage this subpage}}}
        </div>

        <script>includeLatestJQuery('layout.hbs');</script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/stealth-tool/scripts/stealth-tool.js"></script>
        <script type="text/javascript" src="/stealth-tool/scripts/select2.min.js"></script>

    </body>
</html>