.seats-body .profile-pic  {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #666;
    display: inline-block;
    background: #FFF;
    vertical-align: middle;
}

.seats-body .seat-table {
    border-collapse: separate;
    width: 100%;
}

.seats-body .seat-table tbody tr td {
    border-top: 1px solid #CCC;
}

.seats-body .seat-table tbody tr:nth-child(2n) td {
    background-color: #FAFAFA;
}

.seats-body .seat-table tbody tr:first-child td {
    border-top: 1px solid #CCC;
}

.seats-body .seat-table tbody tr td:first-child {
    border-left: 1px solid #CCC;
}

.seats-body .seat-table tbody tr td:last-child {
    border-right: 1px solid #CCC;
}

.seats-body .seat-table tbody tr:last-child td {
    border-bottom: 1px solid #CCC;
}

.seats-body .seat-table tbody tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

.seats-body .seat-table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.seats-body .seat-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.seats-body .seat-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.seats-body .seat-table th {
    padding: 6px 12px;
}
.seats-body .seat-table td {
    padding: 12px;
}

.seats-body .seat-assignment-listing thead th:first-child {
  width: 80px;
}

.seats-body .seat-assignment-listing thead th:nth-child(3) {
  min-width: 300px;
  white-space: nowrap;
}

.seats-body .seat-assignment-widget input {
  display: inline-block;
  width: 80px;
}

.seats-body .seat-assignment-widget input.has-error {
    border: 1px solid darkred;
    background-color: #FEE;
}

.seats-body .seat-assignment-widget input[readonly] {
  font-weight: bold;
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

.seats-body label {
    font-weight: normal;
}

.seats-body .seats-student .seat-assignment-widget {
    display: inline-block;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #CCC;
    border-radius: 10px;
    text-align: center;
}
.seats-body .seats-student .seat-assignment-widget input {
    text-align: center;
}
.seats-body .seats-student .seat-assignment-widget input[readonly] {
    font-size: 22px;
    vertical-align: middle;
    width: 400px;
}

.growl {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
